@font-face {
  font-family: nameFont;
  src: url(../fonts/aladin_regular.ttf);
}

@font-face {
  font-family: bodyFont;
  src: url(../fonts/quicksand_regular.otf);
}

* {
	margin: 0;
	outline: 0;
	padding: 0;
	font-family: bodyFont;
	color: #adadad;
	font-size: 1.3vw;
	letter-spacing: 0.25px;
}
body{
	background: #181d27;
}
.overflow{
	overflow: hidden;
}

.sectionHeader {
	font-size: 2.8vw;
	display: block;
	border-bottom: 1px solid #57606F;
	margin-bottom: 60px;
	margin-top: 100px;
	text-align: center;
}
.sectionSubHeader{
	font-size: 1.8vw;
	color: #8886A5;
	font-weight: 100;
	margin-bottom: 20px;
}

.body-align-section{
	width: 80%;
	margin: 0 auto;
}
#navigation {
	padding-left: 40px;
	padding-top: 10px;
	background: #212632;
	padding-bottom: 10px;
	position: fixed;
	z-index: 99;
	right: 0;
	top: 0;
	left: 0;
	height: 65px;
}

#profileimageSection {
	float: left;
	width: 18%;
	padding-right: 15px;
}
#profileImage {
	width: 9em;
	height: auto;
	border-radius: 50%;
	border: 5px solid #313C5C;
	box-sizing: border-box;
	box-shadow: 0px 0px 20px #57606f;
	float: right;
	transition: .5s;
}
.resizeHeader #profileImage{
	width: 6em;
	transition: .5s;
}
#menuItemSection {
	width: 80%;
	margin-top: 26px;
	float: right;
}
.mainMenu {
	border-bottom: 2px solid #57606F;
	float: right;
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
}
.mainMenuMedium{
	display: none;
}
.navigationList {
	list-style-type: none;
	float: left;
}
.navigationItem ,.navigationItemLink{
	display: inline-block;
	padding: 10px;
}
.navigationItem:hover ,.navigationItemLink:hover{
	box-shadow: 0 4px 3px -1px #c6b4c0;
}
.navigationItem:hover .navigationLink{
	color: #57606F;
	transition: 0.7s;
}
.navigationItemLink:hover .dropdown{
	color: #57606F;
	transition: 0.7s;
}
.navigationLink,.dropdown{
	text-decoration: none;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #212632;
	min-width: 100px;
	box-shadow: 0px 15px 20px -5px rgba(248, 248, 248, 0.2);
	z-index: 999;
	right: 0;
}
.dropdown-content a {
	float: none;
	color: #6F6F6F;
	padding: 9px 24px;
	text-decoration: none;
	text-align: left;
	display: block;
}
.dropdown-content a:hover{
	opacity: 0.7;
	transition: 0.7s;
}
.navigationItem a:hover{
	opacity: 0.7;
	transition: 0.7s;
}
.navigationItemLink:hover .dropdown-content{
  display: block;
  transition: 0.7s;
}
.sayHelloDiv {
	float: left;
}
.sayHello {
	display: inline-block;
	position: absolute;
	bottom: 0;
	padding: 10px;
	border: 3px solid #57606f;
	border-radius: 51% 31% 53% 0%;
}
#details{
	margin-top: 100px;
}
#intro{
	width: 80%;
	margin: 0 auto;
	padding-top: 100px;
	text-align: center;
}
.name {
	font-family: nameFont;
	font-size: 5vw;
	font-style: normal;
	line-height: 1.3;
	color: #8886a5;
	font-weight: 100;
}
.emailAddress{
	color: #8886a5;
}
.emailAddress:hover{
	color: #57606F;
	transition: 0.7s;
}

.introLink:hover{
	opacity: 0.7;
	transition: 0.7s;
}

/*social icon*/
.socialList {
	list-style-type: none;
}
.socialItem {
	display: inline-block;
}

.fa {
	padding: 20px;
	width: 15px;
	text-decoration: none;
	margin: 10px 5px;
	border-radius: 50%;
	height: 15px;
	background: #8886A5;
	color: white;
	transition: 0.7s;
}

.fa:hover {
    opacity: 0.7;
    transition: 0.7s;
}

.page-margin-top{
	margin-top: 100px;
}
.skillsection{
	display: grid;
	border-bottom: 1px solid #57606F;
	margin-bottom: 25px;
}
.skillsection:last-child{
	border-bottom: none;
}
.itemdetails {
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	list-style-type: none;
	text-align: center;
}
.item {
	margin: 25px 5px;
	padding-bottom: 5px;
	transition: 0.7s;
}
.item:hover {
	box-shadow: 0px 8px 7px -10px white;
	transition: 0.7s;
}
.itemIcon {
	text-align: center;
}
.itemIcon:hover {
	box-shadow: 0 4px 3px -1px #c6b4c0;
	transition: 0.7s;
}
.devIconSize {
	font-size: 7.5vw;
	color: #696969;
}

.mySlides {
	display: none;
}

/* Slideshow container */
.slideshow-container {
 	max-width: 100%;
	margin: 0 auto;
  	position: relative;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}
.prev {
  left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.projectslist {
	list-style-type: none;
}
.project {
	position: relative;
	text-align: center;
	padding: 60px;
}
.project img {
	width: 50vw;
}
.projectFullDetails {
	position: absolute;
	bottom: 0;
	padding: 5px 30px;
	background: rgba(30, 33, 60, 0.8);
	text-align: left;
	border-radius: 15px;
	left: 50px;
	right: 50px;
}
.projectFullDetails:hover {
	box-shadow: 0px 8px 7px -10px white;
}
.projectTitle {
	color: white;
	font-weight: bold;
	font-size: 1.5vw;
}
.projectRole {
	font-size: 1.3vw;
	margin-bottom: 5px;
	color: #d5d5d5;
}
.projectDetails {
	font-size: 1.2vw;
	margin-bottom: 15px;
	color: #d5d5d5;
	margin-top: 10px;
}
.projectFooter {
	display: block;
}
.links {
	float: left;
}
.links a {
	color: #d4d4d4;
	transition: 0.7s ease;
}
.links a:hover{
	opacity: 0.7;
	transition: 0.7s ease;
}
.projectLanguages {
	float: right;
}
.projectLanguages p{
	color: #d4d4d4;
}
.grid-container {
	display: block;
	display: grid;
	grid-template-columns: auto auto auto;
}
.educationslist{
	display: none;
}
.grid-item {
	text-align: center;
}
.instituitionLogoSection {
	height: 10vw;
}
.instituitionAttribute {
	display: block;
}
.instituitionLogo {
	width: 11vw;
	position: relative;
	bottom: -15px;
}
.instituitionDetailsSection {
	margin: 20px;
	border-radius: 25px;
	padding: 5px;
	position: relative;
	z-index: 10;
	background: #181D27;
	transition: 0.7s ease;
}
.instituitionDetailsSection:hover {
	box-shadow: 0px 8px 7px -10px white;
	transition: 0.7s ease;
}
.instituitionDetailsSectionAttribute{
	display: block;
}
.InstituitionSubject{

}
.InstituitionSubject h2 {
	font-size: 120%;
	font-weight: bold;
}
.InstituitionSubject h3 {
	font-size: 90%;
	font-weight: 100;
	color: #e3e3e3;
}
.educationTimeSpan{

}
.educationTimeSpan p{
	font-size: 90%;
	font-weight: 100;
}
.educationSector{
	margin-top: 5px;
}
.educationSector p{
	font-size: 90%;
	font-weight: 100;
}
.educationCgpa{

}
.educationCgpa p{
	font-size: 90%;
	font-weight: 100;
}
.oops{
	text-align: center;
}
.oops h1 {
	font-size: 6vw;
	color: #030303;
}
.oops h3 {
	font-size: 1.6vw;
	font-weight: 100;
	color: black;
}
.certificationsList {
	list-style-type: square;
	margin-left: 20px;
}
.certificationsDetails p {
	font-size: 19px;
	font-weight: 100;
}
.activitiesList{
	list-style-type: square;
	margin-left: 20px;
}
.activitiesDetails p{
	font-size: 19px;
	font-weight: 100;
}
#footer {
	background: #212632;
	border-bottom: 4px solid #545C6B;
}
#footerList{
	list-style-type: none;
}
.place{
	font-size: 19px;
	font-weight: 100;
	position: relative;
}
.place img{
	width: 100%;
	margin-bottom: 0px;
}
.mapdetails {
	position: absolute;
	top: 15%;
	left: 4%;
}
.mapdetails h3{
	color: #15275c;
}
.mapdetails p{
	color: #656f8d;
}
/* Landscape phone to portrait tablet */
@media (max-width: 1300px) { 
	.mainMenu {
		display: none;
	}
	.mainMenuMedium{
		display: block;
		float: right;
	}
	.menuListIcon {
		margin: 0;
		padding: 20px;
		outline: 0;
		background: none;
		border: 2px solid #57606F;
		color: #ADADAD;
	}
	.navigationItem, .navigationItemLink {
		display: block;
		padding: 10px;
		background: #212632;
	}
	.mainMenuMediumCollapseicon {
		position: absolute;
		right: 25px;
		bottom: 0;
	}
	.sayHelloDiv{
		position: absolute;
		bottom: 0;
	}
	.mainMenuMediumCollapsedetails {
		display: none;
		position: absolute;
		right: 0;
		top: 69px;
		z-index: 1999;
	}
	.mainMenuMediumCollapseicon:hover{
		opacity: 0.7;
	}
	.mainMenuMedium:hover .mainMenuMediumCollapsedetails{
		display: block;
	}
	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #212632;
		min-width: 180px;
		box-shadow: 0px 15px 20px -5px rgba(248, 248, 248, 0.2);
		z-index: 999;
		right: 74px;
		top: 254px;
	}
}

@media (max-width: 850px) { 
	#menuItemSection {
		width: 79%;
	}
	.fa {
		padding: 10px;
		width: 15px;
		text-decoration: none;
		margin: 10px 5px;
		border-radius: 50%;
		height: 15px;
		background: #8886A5;
		color: white;
		transition: 0.7s;
	}
	.menuListIcon {
		margin: 0;
		padding: 15px;
		outline: 0;
		background: none;
		border: 2px solid #57606F;
		color: #ADADAD;
	}
	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #212632;
		min-width: 180px;
		box-shadow: 0px 15px 20px -5px rgba(248, 248, 248, 0.2);
		z-index: 999;
		right: 76px;
		top: 253px;
	}
}
@media (max-width: 650px) {
	.grid-container {
		display: none;
	}
	.instituitionAttribute {
		display: inline-block;
	}
	.instituitionDetailsSection {
		box-shadow: none;
		margin: 0px;
		border-radius: 0;
		padding: 10px;
		position: relative;
		z-index: 0;
		background: #181D27;
		padding-left: 15px;
		width: 67%;
		bottom: 0;
	}
	.instituitionLogoSection {
		height: 10vw;
		position: relative;
		bottom: 10px;
	}
	.educationslist{
		display: block;
		list-style-type: none;
	}
	.education {
		margin-bottom: 20px;
		border-bottom: 1px solid #57606F;
		padding: 5px;
	}
	.education:last-child{
		border-bottom: none;
	}
	.education:hover {
		box-shadow: 0px 4px 6px -4px #c6b4c0;
		transition: 0.7s;
	}
	.educationHeader {
		margin-bottom: 5px;
		overflow: hidden;
	}
	.InstituitionSubject {
		display: inline-block;
		float: left;
	}
	.InstituitionSubject h2 {
		font-size: 1.8vw;
	}
	.InstituitionSubject h3 {
		font-size: 1.4vw;
		font-weight: 100;
		color: #e3e3e3;
	}
	.educationTimeSpan {
		float: right;
	}
	.educationTimeSpan p{
		font-weight: 100;
		font-size: 1.3vw;
	}
	.educationSector {
		margin-top: 5px;
	}
	.educationSector p {
		font-weight: 100;
		font-size: 1.4vw;
	}
	.educationCgpa{

	}
	.educationCgpa p{
		font-size: 1.5vw;
		font-weight: 100;
	} 
	#menuItemSection {
		width: 78%;
	}
	.menuListIcon {
		margin: 0;
		padding: 10px;
		outline: 0;
		background: none;
		border: 2px solid #57606F;
		color: #ADADAD;
	}
	#navigation {
		height: 40px;
	}
}
@media (max-width: 480px) {
	*{
		font-size: 3vw;
	}
	.body-align-section{
		width: 100%;
	}
	.page-margin-top {
		margin-top: 80px;
	}
	.itemdetails {
		display: grid;
		grid-template-columns: auto auto auto;
		list-style-type: none;
		text-align: center;
	}
	.name {
		font-family: nameFont;
		font-size: 8vw;
		font-style: normal;
		line-height: 1.3;
		color: #8886a5;
		font-weight: 100;
	}
	.devIconSize {
		font-size: 12vw;
	}
	.grid-container {
		display: grid;
		grid-template-columns: auto;
	}
	.educationslist{
		display: none;
	}
	.grid-item {
		text-align: center;
		margin-bottom: 25px;
		transition: 0.7s;
	}
	.grid-item:hover {
		box-shadow: 0px 4px 6px -4px #c6b4c0;
		transition: 0.7s;
	}
	.instituitionLogoSection {
		height: auto;
		position: relative;
		top: 5px;
	}
	.instituitionAttribute {
		display: block;
		margin: 0;
		padding: 0;
		outline: 0;
		box-sizing: border-box;
	}
	.instituitionLogo {
		margin: 0 auto;
		position: relative;
		top: 0;
	}
	.instituitionDetailsSection {
		display: block;
		width: 100%;
		text-align: center;
	}
	.instituitionDetailsSectionAttribute{
		display: block;
		width: inherit;
	}
	.sayHelloDiv {
		position: absolute;
		bottom: 0;
		left: 15px;
	}
	.mainMenuMediumCollapsedetails {
		display: none;
		position: absolute;
		right: 0;
		top: 50px;
		z-index: 1999;
	}
	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #212632;
		min-width: 115px;
		box-shadow: 0px 15px 20px -5px rgba(248, 248, 248, 0.2);
		z-index: 999;
		right: 70px;
		top: 242px;
	}
	.dropdown-content a {
		float: none;
		color: #6F6F6F;
		padding: 6px 20px;
		text-decoration: none;
		text-align: left;
		display: block;
	}
	#profileImage {
		width: 10em;
		height: auto;
		border-radius: 50%;
		border: 5px solid #313C5C;
		box-sizing: border-box;
		box-shadow: 0px 0px 20px #57606f;
		float: right;
		transition: .5s;
		position: absolute;
		left: 32%;
	}
	.sayHello {
		border-radius: 50%;
	}
	.sectionHeader {
		font-size: 6vw;
		margin: 25px 25px;
	}
	.sectionSubHeader {
		font-size: 4vw;
		padding: 0 30px;
	}
	.devIconSize {
		font-size: 12vw;
	}
	.partition {
		width: 100%;
	}
	.project {
		position: relative;
		text-align: center;
		padding: 60px 0;
	}
	.project img {
		width: 80vw;
	}
	.projectFullDetails {
		position: absolute;
		bottom: 0;
		padding: 5px 15px;
		background: rgba(30, 33, 60, 0.8);
		text-align: left;
		border-radius: 15px;
		left: 25px;
		right: 25px;
	}
	.projectTitle {
		color: white;
		font-weight: bold;
		font-size: 3vw;
	}
	.projectRole {
		font-size: 2vw;
		margin-bottom: 5px;
		color: #d5d5d5;
	}
	.projectDetails {
		font-size: 2vw;
		margin-bottom: 15px;
		color: #d5d5d5;
		margin-top: 10px;
	}
	.links a {
		color: #d4d4d4;
		transition: 0.7s ease;
		font-size: 2.5vw;
	}
	.projectLanguages p {
		color: #d4d4d4;
		font-size: 2.5vw;
	}
	.InstituitionSubject h2 {
		font-size: 4vw;
	}
	.InstituitionSubject h3 {
		font-size: 2.5vw;
		font-weight: 100;
		color: #e3e3e3;
	}
	.educationSector p {
		font-weight: 100;
		font-size: 3vw;
	}
	.educationCgpa p {
		font-size: 3vw;
		font-weight: 100;
	}
	.educationTimeSpan p {
		font-weight: 100;
		font-size: 3vw;
	}
	.oops h1 {
		font-size: 10vw;
		color: #030303;
	}
	.oops h3 {
		font-size: 4vw;
		font-weight: 100;
		color: black;
	}
	.certificationsDetails p {
		font-size: 3vw;
		font-weight: 100;
	}
	.activitiesDetails p {
		font-size: 3vw;
		font-weight: 100;
	}
	.prev, .next,.text {
		font-size: 11px;
	}
}